<%- include('partials/_header'); %>
    <h1>Gems</h1>
    <ul>
      <li>Ruby</li>
      <li>Sapphire</li>
      <li>Emerald</li>
    </ul>

    <img src="images/example.jpg" alt="The first photo ever taken of a human!" />
<%- include('partials/_footer'); %>
